body {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
}

li {
  color: gray;
  line-height: 1.4;
  padding: 4px 0;
}

.result-wrap {
  padding: 3px 5px;
}

.is-open-true .is-open-icon {
  color: green;
}
.is-open-false .is-open-icon {
  border: red;
}

.has-wifi-true .wifi-icon {
  color: green;
}
.has-wifi-false .wifi-icon {
  color: red;
}

.has-wifi-true.is-open-true .result-wrap,
.has-wifi-true.is-open-true .is-open-icon,
.has-wifi-true.is-open-true .wifi-icon {
  background-color: green;
  color: white;
}
