body {
  font-family: Helvetica, sans-serif;
  font-size: 1.1em;
}

li {
  line-height: 1.4;
  padding: 4px 0;
}

.result-wrap {
  padding: 1px 3px;
}

.state-pending {
  color: gray;
}

.has-wifi-true .result-wrap {
  background-color: green;
  color: white;
}
.has-wifi-false {
  color: red;
}

.is-open-true .result-wrap {
  border: 2px solid black;
}
.is-open-false .result-wrap {
  border: 2px solid red;
}
